body {
  /* overflow: hidden; */
  /* background-color: pink; */
  padding-top: 50px;
  min-width: 600px;
}

#feed-title {
  font-weight: 100;
}

#feed-links > a {
  color: #999;
  text-decoration: none;
  margin-right: 5px;
  font-family: sans-serif;
  font-size: 12px;
}

#feed-links {
  position: fixed;
  bottom: 0;
  left: 0;
  /* border: 1px solid #ddd; */
  padding: 7.5px 25px 7.5px 20px;
  border-radius: 0 7.5px 0 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 10px -10px 250px rgba(0, 0, 0, .05),
            5px -5px 10px rgba(0, 0, 0, .05);
}

#feed-search-right, #feed-search-left, #feed-search-left > p, #feed-search-right > a, #feed-search-right > form, #feed-search-right > form > input{
  display: inline;
    color: #999;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 12px;
}

#feed-search-left > form {
  width: 250px;
  display: inline;
  /* padding: 5px 7.5px; */
  /* border: 1px solid #eee; */
}

#feed-search-left > form > input {
  width: 250px;
  display: inline;
  padding: 5px 7.5px;
  border: 1px solid #eee;
}

#feed-search-left > p {
  width: 250px;
  display: inline;
  margin-right: 5px;
  font-size: 14px;
}

#feed-search-right > a {
  cursor: pointer;
}

#feed-search-right {
  padding-top: 5px;
  padding-right: 40px;
  vertical-align: middle;
}

#feed-search-right > a {
  /* padding-top: 5px;
  padding-right: 30px;
  vertical-align: middle; */
  margin-left: 5px;
}

#feed-search > p {
  color: #999;
  text-decoration: none;
  margin-right: 5px;
  font-family: sans-serif;
  font-size: 16px;
  display: inline;
}

#feed-search > form > input {
  color: #999;
  /* margin-right: 5px; */
  font-family: sans-serif;
  font-size: 12px;
  display: inline;
  width: 250px;
  padding: 5px 7.5px;
}


#feed-search {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  padding: 12.5px 25px 12.5px 15px;
  border-radius: 0 0 7.5px 0;
  box-shadow: 10px 10px 250px rgba(0, 0, 0, .05),
            5px 5px 10px rgba(0, 0, 0, .05);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 600px;
}

/* #feed-search {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  padding: 12.5px 25px 12.5px 15px;
  border-radius: 0 0 7.5px 0;
  box-shadow: 10px 10px 250px rgba(0, 0, 0, .05),
            5px 5px 10px rgba(0, 0, 0, .05);
} */

.artwork-div {
  /* box-shadow: -10px 10px 250px rgba(0, 0, 0, .5), */
              /* -5px 5px 10px rgba(0, 0, 0, .075); */
  width: 400px;
  /* margin: 15% auto; */
  padding: 50px;
  /* position: absolute; */
  background-color: white;
  cursor: pointer;
  opacity: 1;
  display: block;
  margin: auto;
}

/* .artwork-div:hover {
  cursor: grab;
} */

/* .artwork-div:active {
  cursor: grabbing;
} */

.artwork-div > img {
  width: 100%;
  border: 1px solid #eee;
}

.artwork-div > p {
  margin-top: 35px;
  font-family: sans-serif;
  font-size: 12px;
}

.artwork-div > a {
  margin-top: 25px;
  font-family: sans-serif;
  font-size: 12px;
  color: #ddd;
  text-decoration: none;
}

#landing-search {
  border: 1px solid #eee;
  padding: 7px 12px;
  font-size: 12px;
  width: 400px;
  color: black;
  border-radius: 3px;
}

#landing-submit {
  background-color: #eee;
  border: none;
  padding: 7px 12px;
  font-size: 12px;
  margin-top: 20px;
  border-radius: 5px;
}

#landing-invite {
  color: cornflowerblue;
  text-decoration: none;
  margin-top: 40px;
  display: block;
  font-size: 14px;
}

@media only screen and (max-width: 750px) {
}